<!DOCTYPE html>
<html ng-app="x">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width">

    <title>UI.Layout : holy grail demo</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap-theme.min.css">

    <link rel="stylesheet" href="https://rawgithub.com/angular-ui/ui-layout/v1.0.5/ui-layout.css">
    <link rel="stylesheet" href="demo.css">
</head>

<body>

    <div ui-layout>
        <div ui-layout-container class=" html-back"></div>

        <div ui-layout-container>
            <div ui-layout="{flow : 'column'}">
                <div ui-layout-container class=" html-back"></div>
                <div ui-layout-container class=" js-back">
                    <div ng-controller="sortableController" class="container">
                        <div class="floatleft">
                            <ul ui-sortable="sortableOptions" ng-model="list" class="list">
                                <li ng-repeat="item in list" class="item">
                                    {{item.text}}
                                </li>
                            </ul>
                        </div>

                        <div class="floatleft" style="margin-left: 20px;">
                            <ul class="list logList">
                                <li ng-repeat="entry in sortingLog track by $index" class="logItem">
                                    {{entry}}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div ui-layout-container class=" css-back"></div>
            </div>
        </div>

        <div ui-layout-container class=" css-back"></div>
    </div>

    <!-- Le javascript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="application/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular.min.js"></script>
    <script type="application/javascript" src="https://rawgithub.com/angular-ui/ui-layout/v1.0.5/ui-layout.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
    <script src="https://rawgithub.com/angular-ui/ui-sortable/master/src/sortable.js"></script>
    <script>
    var myapp = angular.module('x', ['ui.layout', 'ui.sortable']);

    myapp.controller('sortableController', function($scope) {
        var tmpList = [];

        for (var i = 1; i <= 6; i++) {
            tmpList.push({
                text: 'Item ' + i,
                value: i
            });
        }

        $scope.list = tmpList;


        $scope.sortingLog = [];

        $scope.sortableOptions = {
            update: function(e, ui) {
                var logEntry = tmpList.map(function(i) {
                    return i.value;
                }).join(', ');
                $scope.sortingLog.push('Update: ' + logEntry);
            },
            stop: function(e, ui) {
                // this callback has the changed model
                var logEntry = tmpList.map(function(i) {
                    return i.value;
                }).join(', ');
                $scope.sortingLog.push('Stop: ' + logEntry);
            }
        };
    });
    </script>
</body>

</html>
